/* ----------------------------- Header and Text ---------------------------- */
h1 {
  padding-left: 1em;
  font-size: 40px;
}

p {
  padding-left: 2.3em;
  padding-right: 2.3em;
  font-size: 22px;
  margin-bottom: 0em;
}

/* ------------------------------ Products Grid ----------------------------- */
.SaleGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 30em));
  justify-content: center;
  column-gap: 4em;
  row-gap: 5em;
  padding: 4em 5em 5em;
  align-items: start;
}

.SaleBox {
  height: auto;
  justify-self: center;
  justify-content: center;
  background-color: #f5f5f5;
  border: solid 1px rgb(199, 199, 199);
  border-radius: 10px;
}
.SaleBox:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

/* ------------------------------ Product Image ----------------------------- */
.SaleBox-img-link {
  display: block;
}
.SaleBox-img-link img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}
.SaleBox-info {
  border-top: solid 1px rgb(199, 199, 199);
}
.SaleBox a {
  display: block;
  color: inherit;
  text-decoration: none;
}
.SaleBox a:visited {
  color: inherit;
}

/* ------------------------------ Product Text ------------------------------ */
.SaleBox h2 {
  text-align: Left;
  margin-top: 0.3em;
  margin-bottom: 0.1em;
  font-size: 20px;
  padding-left: 0.8em;
}
.SaleBox p {
  text-align: Left;
  margin-bottom: 0.3em;
  margin-top: 0em;
  font-size: 17px;
  padding-left: 1em;
}

@media only screen and (max-width: 1024px) {
  .SaleGrid {
    padding: 5em 5em 6em;
  }
  h1 {
    padding-left: 1em;
    font-size: 32px;
    margin-bottom: 0.5em;
  }
  p {
    font-size: 18px;
    padding-left: 2.5em;
  }
}
@media only screen and (max-width: 768px) {
  .SaleGrid {
    padding: 4em 3em 6em;
  }
  h1 {
    padding-left: 0.7em;
    font-size: 30px;
    margin-bottom: 0em;
  }
  p {
    padding-left: 2em;
    margin-top: 0.7em;
  }
}
@media only screen and (max-width: 440px) {
  .SaleGrid {
    padding: 3.5em 1em 6.5em;
    column-gap: 1.5em;
  }
  .SaleBox h2 {
    font-size: 15px;
  }

  .SaleBox p {
    font-size: 12px;
  }
  h1 {
    padding-left: 0.4em;
    margin-top: 0.8em;
  }
  p {
    padding-left: 1.1em;
    padding-right: 1.1em;
    margin-top: 0.8em;
  }
}
@media only screen and (max-width: 375px) {
  p {
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0.6em;
  }
  h1 {
    font-size: 28px;
  }
  .SaleGrid {
    padding: 3em 1em 4em;
    column-gap: 1em;
  }
}
@media only screen and (max-width: 320px) {
  .SaleGrid {
    padding: 2.7em 0.5em 4em;
    column-gap: 1em;
  }
  .SaleBox h2 {
    font-size: 15px;
  }
  .SaleBox p {
    font-size: 12px;
  }
}
